
# ---------------------------------------------------------------------------- #
#                              VISUAL STUDIO CODE                              #
# ---------------------------------------------------------------------------- #

*.vscode/



# ---------------------------------------------------------------------------- #
#                                PERSONAL FILES                                #
# ---------------------------------------------------------------------------- #

*Notas rápidas/