
# ---------------------------------------------------------------------------- #
#                         VISUAL CODE - CONFIGURATIONS                         #
# ---------------------------------------------------------------------------- #

*.vscode/



# ---------------------------------------------------------------------------- #
#                              ARCHIVOS PERSONALES                             #
# ---------------------------------------------------------------------------- #

*Notas rápidas/