
# ---------------------------------------------------------------------------- #
#                              ARCHIVOS PERSONALES                             #
# ---------------------------------------------------------------------------- #

*Notas rápidas/